body {
  margin: 0;
  padding: 0;
  height: 100vh; 
  font-family: Arial, sans-serif;
  background:#0066cc;
  color: #333;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.App {
  max-width: 500px;
  width: 100%; 
  margin: auto; 
  padding: 20px;
  background-color: #e0cece; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  border-radius: 8px; 
}

h1 {
  text-align: center;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #0066cc; 
  color: white;
  border: none;
  cursor: pointer;
}

form button {
  border-radius: 0 4px 4px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

li button {
  margin-left: 10px;
  font-size: 14px;
  padding: 5px 10px;
}

